* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* colors
light-pink: #F7B2BD;
forest-green-crayola: #60A561;
grullo: #B2A198;
paraidise pink: #F7B2BD;
dark green: #053225;
*/

body {
    position: relative;
    background: linear-gradient(-35deg, #F7B2BD 40%, #b2a1983a 30%);
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input, button{
    padding: 7px;
    height: 40px;
    margin: 10px;
}

fieldset {
    margin: 20px;
}

fieldset div {
    margin: 20px;
}
